#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
Language                                  : Cpp
BasedOnStyle                              : Chromium
Standard                                  : Auto
IncludeBlocks                             : Regroup
#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
BreakBeforeBraces                         : Sstroustrup
#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
AccessModifierOffset                      : -4
AlignTrailingComments                     : true
AllowAllParametersOfDeclarationOnNextLine : false
AllowShortBlocksOnASingleLine             : true
AllowShortFunctionsOnASingleLine          : All
AlwaysBreakAfterReturnType                : AllDefinitions
BinPackParameters                         : true
BreakAfterReturnType                      : ExceptShortType
BreakBeforeTernaryOperators               : false
BreakConstructorInitializers              : BeforeComma
PackConstructorInitializers               : Never
ColumnLimit                               : 120 
Cpp11BracedListStyle                      : true
DerivePointerAlignment                    : true
DerivePointerBinding                      : false
IndentWidth                               : 4
KeepEmptyLinesAtTheStartOfBlocks          : true
MaxEmptyLinesToKeep                       : 2
NamespaceIndentation                      : None 
PointerBindsToType                        : true
SpacesBeforeTrailingComments              : 1
SpacesInAngles                            : false
SpacesInSquareBrackets                    : false
UseTab                                    : Never
#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-